@* @{
    ViewData["Title"] = "Product Page";
} *@

<script>
    $(document).ready(function () {
		ProductController.LstProducts();
    }) 
</script>

<script>
	$(document).ready(function () {
		$(".wish-icon i").click(function () {
			$(this).toggleClass("fa-heart fa-heart-o");
		});
	});
</script> 
<div class="container-xl">
	<div class="row">
		<div class="col-md-12">
			<h2>Products</h2>
			<div id="myCarousel" class="carousel" > 
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="row" id="dvProductList"> 
						</div>
					</div>
				</div>
					 
			</div>
		</div>
	</div>
</div>

