<div id="dvViewCartsWrapper" style="position:fixed;right:-300px;top:0px;bottom:0px;width:300px;background:#ccc;overflow:auto">
    <div id="dvViewCarts" style="position:absolute;width:100%;background:#ccc;display:block;bottom:40px;top:0px">
    </div>
    <button class="btn btn-primary" style="width:100%;position:absolute;bottom:0px;height:40px;"
            onclick="javascript:ProductController.PrepareCartForCheckoutUI('@Url.Action("Checkout","Product")')">
        Checkout
    </button>"
</div>


