<div id="dvLeftBarMenuWrapper" style="display:none;position:fixed;left:0px;top:56px;bottom:0px;width:300px;background:#ccc;overflow:auto">
    <ul id="ulMenu" style="position:absolute;width:100%;background:#ccc;display:block;bottom:40px;top:0px">
    </ul> 
</div>